@font-face {
  font-family: "Montserrat-bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat-extraBold";
  src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat-light";
  src: url("../assets/fonts/Montserrat-Light.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat-regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 200;
}

/* обнуляющие стили */
.main * {
  /* all: unset; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}
.main p {
  font-family: Montserrat-regular;
}
body {
  margin: 0 auto;
  font-family: Montserrat-regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* конец */

:root {
  --white: #ffffff;
  --light: #f4f4f4;
  --dark: #565654;
  --black: #252525;
  --red: #e91609;
}
p {
  font-family: Montserrat-regular;
  color: var(--black);
  font-weight: 200;
}
.content-center {
  max-width: 1420px;
  margin: 0 auto;
}

.hero {
  background: url(../assets/img/hero-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-bottom: 165px;
}

.header__nav {
  display: flex;
  gap: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav a {
  font-size: 18px;
  color: var(--white);
  font-weight: 200;
}

.header__logo img {
  width: 206px;
  height: 84px;
}

.header__phone-number-container {
  display: flex;
  flex-direction: column;
  gap: 11px;
  align-items: center;
}
.header__phone-number-container p {
  font-size: 22px;
  font-weight: 600;

  color: var(--white);
}
.header__phone-number-container button {
  width: 100%;
  padding: 5px 20px;
  background-color: var(--red);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  color: var(--white);
}

.hero__description-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.hero__h1 {
  margin-bottom: 26px;
  font-weight: 600;
  font-size: 56px;
  color: var(--white);
  max-width: 858px;
  word-break: break-all;
}
.hero__description {
  margin-bottom: 43px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero__description li {
  color: var(--white);
  font-weight: 200;
}
.hero__description li span {
  color: var(--white);
  font-weight: 600;
}
.hero__description li:before {
  content: "- ";
}

.hero__button {
  padding: 13px 20px;
  background-color: var(--red);
  border-radius: 20px;
  font-size: 22px;

  font-weight: 600;
  color: var(--white);
  margin-bottom: 263px;
}

.second-section {
  padding-left: 20px;
  padding-right: 20px;
}
.second-section__common-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  position: relative;
}

.second-section__container {
  max-width: 622px;
  margin-top: 183px;
  background: rgba(255, 255, 255);
  padding: 15px;
  border-radius: 20px;
}
.second-section__img {
  width: 658px;
  position: absolute;
  z-index: -1;
  right: 0;
}
.second-section__h2 {
  font-weight: 600;
  font-size: 35px;
  color: var(--black);
}
.second-section__h2 span {
  color: var(--red);
}
.second-section p {
  font-weight: 200;
  font-size: 20px;
}
.second-section p span {
  font-weight: 600;
}
.second-section__first-p {
  margin-top: 20px;
  margin-bottom: 19px;
}
.second-section__second-p {
  margin-bottom: 19px;
}
.second-section__third-p {
  margin-bottom: 80px;
}
.second-section__link-button {
  position: relative;
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
}
.second-section__link-button:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;

  right: 0;
  height: 2px;

  border-bottom: 3px solid var(--red);
  z-index: 1;
}
.third-section {
  padding-top: 79px;
  margin-top: 189px;
  padding-bottom: 128px;
  background-color: #e3e3e3;
}
.third-section__container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1420px;
  justify-content: center;
  gap: 40px;
  position: relative;
}
.third-section__text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 376.5px;
}
.third-section__text-block h3 {
  font-size: 35px;
  max-width: 322px;
}
.third-section__text-block p {
  font-size: 20px;
}
.third-section__img {
  position: absolute;
  top: 40%;
  left: 30%;
  max-width: 530px;
}
.fourth-section {
  padding-top: 84px;
  padding-bottom: 185px;
  padding-left: 20px;
  padding-right: 20px;
}
.fourth-section__container {
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}
.fourth-section__container__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.fourth-section__container__head h2 {
  font-size: 35px;
  color: var(--black);
  font-weight: 600;
}
.fourth-section__container__head h2 span {
  color: var(--red);
}
.fourth-section__container__head p {
  font-size: 20px;
  color: var(--black);
  font-weight: 200;
}

.fourth-section__container__middle-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}
.fourth-section__container__middle-container__block:nth-child(1n) {
  padding: 160px 105px;
  background-image: url("../assets/img/fourth-section-img-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 680px;
}
.fourth-section__container__middle-container__block:nth-child(2n) {
  padding: 160px 105px;
  background-image: url("../assets/img/fourth-section-img-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 680px;
}
.fourth-section__container__middle-container__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.fourth-section__container__middle-container__block h3 {
  font-size: 35px;
  font-weight: 600;
  color: var(--red);
  margin-bottom: 10px;
}
.fourth-section__container__middle-container__block h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
}
.fourth-section__container__middle-container__block p {
  font-size: 20px;
  font-weight: 200;
  color: var(--black);
  display: flex;
  gap: 10px;
  align-items: center;
}
.fourth-section__container__middle-container__block span {
  font-size: 65px;
  font-weight: 600;
  color: var(--black);
}
.fourth-section__container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  text-align: center;
}
.fourth-section__container__footer h4 {
  font-size: 20px;
  color: var(--black);
  font-weight: 600;
}
.fourth-section__container__footer button {
  font-size: 22px;
  color: var(--white);
  font-weight: 600;
  padding: 5px 20px;
  background-color: var(--red);
  border-radius: 20px;
}

.fifth-section {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 873px;
}

.fifth-section__left-side {
  z-index: -1;

  /* max-height: 990px; */
  position: absolute;
  left: 0;
}
.fifth-section__left-side img:nth-child(1n) {
  position: absolute;
}
.fifth-section__left-side img:nth-child(2n) {
  width: 689px;

  top: 142px;
  left: 24px;
  position: absolute;
}
.fifth-section__right-side {
  z-index: 1;
}
.fifth-section__right-side h2 {
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  color: var(--black);
  margin-bottom: 20px;
}
.fifth-section__right-side h2 span {
  color: var(--red);
}
.fifth-section__right-side__first-img {
  position: absolute;
  right: 0;
  top: 79px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  height: 734px;
  z-index: 2;
}
.fifth-section__right-side__second-img {
  top: 34px;
  z-index: 3;
  position: absolute;
  right: 0;
  height: 839px;
}
.fifth-section__right-side__image-container {
  z-index: 5;
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 75px;
  right: 416px;
  top: 131px;
}
.fifth-section__right-side__image-container :nth-child(1n) {
  margin-left: -96px;
}
.fifth-section__right-side__image-container :nth-child(2n) {
  margin-left: -140px;
}
.fifth-section__right-side__image-container :nth-child(3n) {
  margin-left: -214px;
}

.sixth-section {
  padding-top: 120px;
  padding-bottom: 136px;
}

.sixth-section__h2 {
  font-size: 35px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 60px;
  font-family: Montserrat-bold;
  word-break: break-all;
}
.sixth-section__h2 span {
  font-size: 35px;
  font-weight: 600;
  color: var(--red);
}
.sixth-section__blocks-container {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}
.sixth-section__blocks-container__block {
  min-width: 405.33px;
  max-width: 413px;
  min-height: 585px;
  padding: 50px 84.17px;
  background: url(../assets/img/sixth-section__img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sixth-section__blocks-container__block button {
  padding: 5px 20px;
  background-color: var(--red);
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.sixth-section__blocks-container__block ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.sixth-section__blocks-container__block ul li {
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.sixth-section__blocks-container__block ul li span {
  color: rgba(255, 255, 255, 0.603);
  font-size: 20px;
  font-weight: 200;
}
.sixth-section__blocks-container__block h3 {
  font-size: 35px;
  font-weight: 600;
  color: var(--white);
  font-family: Montserrat-bold;
  margin-bottom: 10px;
}
.sixth-section__blocks-container__block h3 span {
  color: var(--red);
}
.sixth-section__description-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: baseline;
}
.sixth-section__description-container h3 {
  font-size: 35px;
  font-weight: 600;
  color: var(--black);
  margin-top: 60px;
}
.sixth-section__description-container button {
  padding: 5px 20px;
  background-color: var(--red);
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  font-family: Montserrat-bold;
  border-radius: 20px;
}
.sixth-section__description-container ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sixth-section__description-container ul li {
  font-size: 22px;
  font-weight: 100;
  color: var(--black);
  font-family: Montserrat-light;
  display: flex;
  align-items: center;
  gap: 15px;
}
.sixth-section__description-container ul li::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 3px;
  background-color: var(--red);
}
.eight-section {
  padding-top: 109px;
  padding-bottom: 74px;
}
.eight-section__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

.eight-section__container__block {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.eight-section__container__block h2 {
  font-size: 40px;
  font-weight: 600;
}
.eight-section__container__block p {
  font-size: 20px;
  font-weight: 200;
  color: hsla(0, 0%, 15%, 0.603);
}
.eight-section__container__block p span {
  font-size: 15px;
}
.eight-section__container__block input {
  all: unset;
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid hsla(0, 0%, 15%, 0.589);

  font-size: 22;
  font-weight: 200;
}
.eight-section__container__block button {
  background-color: var(--red);
  padding: 5px 20px;
  color: white;
  font-size: 22px;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
}
.eight-section__container__block__button-second {
  background-color: var(--black) !important;
}
.seventh-section {
  padding-top: 109px;
  padding-bottom: 123px;
  background-color: #e2e2e2;
}
.seventh-section h2 {
  text-align: center;
  margin-bottom: 62px;
  font-size: 35;
  font-weight: 600;
  color: var(--black);
}
.seventh-section h2 span {
  color: var(--red);
}
.seventh-section__container {
  background-color: white;
  padding: 102px;
  height: 531px;
  max-width: 1259px;
  clip-path: polygon(100% 0%, 20% 0%, 0% 100%, 80% 100%);
  margin-left: auto;
}
.seventh-section__container__image-container {
  /* z-index: 5; */
  position: relative;
}
.seventh-section__container__image-container__first-image {
  margin-top: -20px;
}

.seventh-section__container__image-container img {
  position: absolute;
}
.seventh-section__container__description-container {
  width: 500px;
  margin-left: auto;
  margin-right: 120px;
  z-index: 26;
  background-color: white;
  padding: 50px;
}
.seventh-section__container__description-container__button-container {
  display: flex;
  gap: 17px;
  margin-top: 25px;
}
.seventh-section__container__description-container__button-container button {
  padding: 14px;
  width: 45px;
  height: 45px;
  border: 2px solid var(--black);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seventh-section__container__description-container__button-container__second-button {
  transform: rotate(180deg);
}
.footer {
  background-color: #252525;
  padding-top: 78px;
  padding-bottom: 108px;
}
.footer__container {
  display: flex;
  gap: 107px;
  align-items: flex-start;
}
.footer__container__first-block {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
}
.footer__container__first-block img {
  width: 222px;
  height: 103px;
}
.footer__container__first-block h4 {
  font-size: 18px;
  color: var(--white);
  font-weight: 600;
}
.footer__container__first-block p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
}
.footer__container__second-block {
  max-width: 309px;
}
.footer__container__second-block ul {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
.footer__container__second-block ul li {
  font-size: 22px;
  color: var(--white);
  font-weight: 200;
}
.footer__container__second-block ul span {
  font-weight: 600;
}
.footer__container__third-block h4 {
  font-size: 22px;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 20px;
}
.footer__container__third-block p {
  font-size: 15px;
  color: var(--white);
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer__container__third-block {
  max-width: 281px;
}
@media (max-width: 1366px) {
  .content-center {
    max-width: 280px;
  }
  .hero {
    padding-top: 26px;
  }

  .header {
    margin-bottom: 58.64px;
    gap: 14.71px;
  }
  .header__logo img {
    width: 124.3px;
    height: 50.36px;
  }
  .header__nav {
    display: none;
  }
  .header__phone-number-container {
    gap: 8.94px;
  }
  .header__phone-number-container p {
    font-size: 14px;
    font-weight: 600;
  }
  .header__phone-number-container button {
    width: 100%;
    padding: 2px 8px;

    border-radius: 16.25px;

    font-size: 14px;
  }

  .hero__h1 {
    margin-bottom: 14px;
    font-size: 20px;
  }
  .hero__description {
    margin-bottom: 12px;
  }
  .hero__description li {
    font-size: 12px;
    line-height: 162%;
  }
  .hero__button {
    padding: 2px 8px;

    border-radius: 9.26px;
    font-size: 14px;

    font-weight: 600;

    margin-bottom: 126px;
  }
  .second-section__common-container {
    gap: 44px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
  }
  .second-section__container {
    margin-top: 56px;
  }
  .second-section__h2 {
    font-size: 20px;
  }
  .second-section__first-p {
    margin-bottom: 11px;
  }
  .second-section__second-p {
    margin-bottom: 11px;
  }
  .second-section__third-p {
    margin-bottom: 40px;
  }
  .second-section__link-button {
    font-size: 14px;
    font-weight: 600;
  }
  .second-section__img {
    position: relative;
    width: 100%;
  }
  .third-section {
    padding: 48px 27px 59px 27px;

    margin-top: 0px;
  }

  .third-section__text-block h3 {
    font-size: 20px;
    max-width: 322px;
  }
  .third-section__text-block p {
    font-size: 12px;
  }
  .fourth-section {
    padding-top: 53px;
    padding-bottom: 46px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fourth-section__container {
    gap: 32.91px;
  }
  .fourth-section__container__head {
    gap: 8.23px;
  }
  .fourth-section__container__head h2 {
    font-size: 20px;
  }

  .fourth-section__container__head p {
    font-size: 12px;
  }

  .fourth-section__container__middle-container {
    gap: 24.68px;
  }
  .fourth-section__container__middle-container__block {
    padding: 27.21px 38.61px 26.29px 39px !important;

    max-width: 280px;
  }

  .fourth-section__container__middle-container__block {
    gap: 16.45px;
  }

  .fourth-section__container__middle-container__block h3 {
    font-size: 20px;

    margin-bottom: 4.11px;
  }
  .fourth-section__container__middle-container__block h4 {
    font-size: 12px;
  }
  .fourth-section__container__middle-container__block p {
    font-size: 12px;

    gap: 4.11px;
  }
  .fourth-section__container__middle-container__block span {
    font-size: 26.74px;
  }
  .fourth-section__container__footer {
    gap: 16.45px;
  }
  .fourth-section__container__footer h4 {
    font-size: 12px;
  }
  .fourth-section__container__footer button {
    font-size: 14px;

    padding: 2px 8px;

    border-radius: 8.23px;
  }
  .fifth-section {
    height: 366px;
    overflow: hidden;
  }

  .fifth-section__left-side {
    left: 0;
  }
  .fifth-section__left-side__first-img {
    left: -600px;
  }
  .fifth-section__left-side__second-img {
    display: none !important;
  }

  .fifth-section__right-side h2 {
    font-size: 20px;
  }
  .fifth-section__right-side__first-img {
    height: 275px;
  }
  .fifth-section__right-side__second-img {
    right: -50px;
    height: 262px;
    top: 92px;
  }
  .fifth-section__right-side__image-container {
    z-index: 5;
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 12px;
    right: 126px;
    top: 135px;
  }
  .fifth-section__right-side__image-container img {
    max-width: 230px;
    max-height: 77px;
  }
  .fifth-section__right-side__image-container :nth-child(1n) {
    margin-left: -128px;
  }
  .fifth-section__right-side__image-container :nth-child(2n) {
    margin-left: -148px;
  }

  .fifth-section__right-side__image-container :nth-child(3n) {
    margin-left: -180px;
  }

  .sixth-section {
    padding-top: 68px;
    padding-bottom: 60px;
  }

  .sixth-section__h2 {
    font-size: 20px;

    word-break: break-all;
  }
  .sixth-section__h2 span {
    font-size: 20px;

    color: var(--red);
  }

  .sixth-section__blocks-container__block {
    /* min-width: 433.33px; */
    max-width: 434px;
    max-height: 429px !important;
    min-width: 0;
    padding: 50px 26.5px;
  }
  .sixth-section__blocks-container__block button {
    padding: 5px 20px;
    background-color: var(--red);
    border-radius: 20px;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }
  .sixth-section__blocks-container__block ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  .sixth-section__blocks-container__block ul li {
    font-size: 14px;
  }
  .sixth-section__blocks-container__block ul li span {
    font-size: 14px;
  }
  .sixth-section__blocks-container__block h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .sixth-section__description-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: baseline;
  }
  .sixth-section__description-container h3 {
    word-break: break-all;
    font-size: 35px;
    font-weight: 600;
    color: var(--black);
    margin-top: 60px;
  }
  .sixth-section__description-container button {
    padding: 5px 20px;

    font-size: 14px;
  }

  .sixth-section__description-container ul li {
    font-size: 14px;
  }
  .sixth-section__description-container ul li::before {
    content: "";
    display: inline-block;
    width: 29.02px;
    height: 3px;
    background-color: var(--red);
  }
  .eight-section {
    padding-top: 62px;
    padding-bottom: 84px;
  }

  .eight-section__container__block h2 {
    font-size: 20px;
  }
  .eight-section__container__block p {
    font-size: 14px;
  }

  .seventh-section {
    padding-top: 27px;
    padding-bottom: 68px;
  }
  .seventh-section h2 {
    margin-bottom: 48px;
    font-size: 20;
  }
  .seventh-section h3 {
    margin-top: 47px;
  }
  .seventh-section h2 span {
    color: var(--red);
  }
  .seventh-section__container {
    background-color: white;
    padding: 47px 24px;
    height: 100%;
    /* height: 531px; */
    width: 100%;
    clip-path: none;
    margin-top: 217px;
  }
  .seventh-section__container__image-container {
    /* z-index: 5; */
    position: relative;
  }
  .seventh-section__container__image-container__first-image {
    margin-top: -20px;
    width: 254px;
    height: 214px;
  }
  .seventh-section__container__image-container__second-image {
    width: 280px;
  }

  .seventh-section__container__image-container img {
    position: absolute;
    top: 52px;
  }
  .seventh-section__container__description-container {
    width: 280px;
    /* margin-left: auto; */
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 26;
    width: 232px;
  }

  .footer__container {
    flex-direction: column;
  }
}

@media (max-width: 1228px) {
  .third-section__img {
    display: none;
  }
}
